* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
/* common styles */
.btn-s-primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  color: #fff;
  padding: 18px 35px 19px 36px;
  border: 0px;
  font-size: 20px;
}
.btn-l-primary {
  border-radius: 5px;
  background: #fd6e0a;
  padding: 18px 34px 18px 34px;
  border: 0;
  font-size: 20px;
  color: #fff;
}
.description {
  color: #757575;
  font-size: 18px;
}
.title-primary {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
/* header styles  */
header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left center, right bottom;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 230px 47px 226px;
}
.hardy-img {
  padding: 0;
}
.mary {
  color: #181818;
  font-size: 45px;
}
.mary span {
  color: #fd6e0a;
}
.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
  font-size: 20px;
}
.banner-container {
  display: flex;
  gap: 163px;
  align-items: center;
  justify-content: space-between;
  margin: 0px 38px 0px 230px;
}
.profile {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.profile-name {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 5px;
}
/* about section style */
.about-section {
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 230px;
  padding: 130px 156px;
}
.about-content .description {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.about-info-container p {
  color: #757575;
  text-align: center;
  font-size: 20px;
}
.about-info-container,
.what-box-container h4 {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
/* What I Do styles */
.what-i-section {
  margin-bottom: 130px;
}
.what-section-content .description {
  text-align: center;
  margin-bottom: 50px;
}
.what-box-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.what-box-container h4 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.what-box-container p {
  width: 200px;
  color: #757575;
  font-size: 16px;
}
.box {
  width: 270px;
  height: 367px;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* edu style */
.edu-container {
  display: flex;
  justify-content: center;
  gap: 71px;
  margin-left: 230px;
  margin-right: 277px;
}
.edu-container .title-primary {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-top: 117px;
  margin-bottom: 30px;
  text-align: left;
}
.info-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.info-sub-title {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.info-description {
  color: #757575;
  font-size: 16px;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
.edu-container .btn-l-primary {
  text-align: center;
}
.btn-l-primaryy {
  margin: auto;
}
